@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
/*===///--
 
  font-family: "Merriweather", serif;
  font-weight: 900;


 font-family: "Inter", serif;
 font-weight: 500;
-////===*/
*{
    margin: 0px;
    padding: 0px;
}
/*===///Header Style//==*/
.header-bg{
    border-radius: 16px;
    background: linear-gradient(180.00deg, rgb(7, 2, 17),rgba(7, 2, 17, 0) 100%) url('../images/Banner\ Image.png');
}
.header-wrap .header-content{}
.header-wrap .header-content .head-subtitle{
    font-family: "Merriweather", serif;
    font-weight: 400;
    Font-size: 32px;
    color: rgb(255, 255, 255);
}
.header-wrap .header-content .head-title{

}