@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
/*===///--
 
  font-family: "Merriweather", serif;
  font-weight: 900;


 font-family: "Inter", serif;
 font-weight: 500;
-////===*/
*{
    margin: 0px;
    padding: 0px;
}
/*===///Header Style//==*/
.header-bg{
    width: 1320px;
    height: 600px;
    background-image: url('../images/Banner-Image.png');
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 auto;
    border-radius: 16px;
    background: linear-gradient(180.00deg, rgb(7, 2, 17),rgba(7, 2, 17, 0) 100%), url('../images/Banner-Image.png');
}
.header-wrap .header-content{
    width: 632px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 177px 344px;
   }
.header-wrap .header-content .head-subtitle{
    font-family: "Merriweather", serif;
    font-weight: 400;
    Font-size: 32px;
    color: rgb(255, 255, 255);
    margin-bottom: 16px;
}
.header-wrap .header-content .head-title{
    font-family: "Merriweather", serif;
    Font-weight: 900;
    Font-size: 72px;
    color: rgb(255, 255, 255);
    text-align: center;
}
/*==//--Offer Style--//==*/
.offer-content{
    width: 800px;
    height: 810px;
    margin: 120px auto;
}
.offer-content .offer-info{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.offer-content .offer-text{
    font-size: 88px;
    font-weight: bold;
    font-family: "Inter", serif;
    color: #FF0000;
    margin-bottom: 48px;
}
.offer-content .offer-subtitle{
    font-size: 24px;
    color: #FF0000;
    font-family: "Inter", serif;
    margin-bottom: 16px;
}
.offer-content .offer-title{
    font-size: 48px;
    font-weight: bold;
    color: #070211;
    margin-bottom: 56px;
}