@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
/*===///--
 
  font-family: "Merriweather", serif;
  font-weight: 900;


 font-family: "Inter", serif;
 font-weight: 500;
-////===*/
*{
    margin: 0px;
    padding: 0px;
}
/*===///Header Style//==*/
.header-bg{
    width: 1320px;
    height: 600px;
    background-image: url('../images/Banner-Image.png');
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 auto;
    border-radius: 16px;
    background: linear-gradient(180.00deg, rgb(7, 2, 17),rgba(7, 2, 17, 0) 100%), url('../images/Banner-Image.png');
}
.header-wrap .header-content{
    width: 632px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 177px 344px;
   }
.header-wrap .header-content .head-subtitle{
    font-family: "Merriweather", serif;
    font-weight: 400;
    Font-size: 32px;
    color: rgb(255, 255, 255);
    margin-bottom: 16px;
}
.header-wrap .header-content .head-title{
    font-family: "Merriweather", serif;
    Font-weight: 900;
    Font-size: 72px;
    color: rgb(255, 255, 255);
    text-align: center;
}
/*==//--Offer Style--//==*/
.offer-content{
    width: 800px;
    height: 810px;
    margin: 120px auto;
}
.offer-content .offer-info{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.offer-content .offer-text{
    font-size: 88px;
    font-weight: bold;
    font-family: "Inter", serif;
    color: #FF0000;
    margin-bottom: 48px;
}
.offer-content .offer-subtitle{
    font-size: 24px;
    color: #FF0000;
    font-family: "Inter", serif;
    margin-bottom: 16px;
}
.offer-content .offer-title{
    font-size: 48px;
    font-weight: bold;
    color: #070211;
    margin-bottom: 56px;
}
/**===///--Wellcome party Style--//==**/
.wellcome-party{
    width: 1320px;
    height:600px;
    border-radius: 16px;
    background: linear-gradient(90.00deg, rgb(7, 2, 17),rgba(7, 2, 17, 0) 100%), url('../images/Vectorrr.png');
    margin: 120px auto;
    /* background-image: url('../images/Vectorrr.png'); */
}
.party-content .party-content-info{
    margin: 126px 10px 126px 126px;
}
.party-content .party-content-info .party-subtitle{
    font-family: "Merriweather", serif;
    font-size: 64px;
    color:#FFFFFF;
    margin-bottom: 24px;
    width: 642px;
}
.party-content .party-content-info .party-descripiton{
    font-family: "Inter", serif;
    font-size: 18px;
    color:#FFFFFF;
    margin-bottom: 48px;
    width: 697px;
}
.party-content .party-content-info .party-title{
    font-size: 20px;
    color: rgb(255, 255, 255);
    font-family: "Inter", serif;
}
.party-content .party-content-info .party-title a{
    text-decoration: none;
    color: white;
}
.party-content .party-img img{
    padding: 68px 140px 68px 0px;
    padding: 68px 140px 68px 0px;
    width: 350px;
    height: 464px;
}
.party-content{
    display: flex;
    justify-content: space-between;
}
/*===///---place-time Style---///==*/
.place-time{
    width: 1320px;
    margin: 120px auto;
    border-radius: 16px;
    background: linear-gradient(180.00deg, rgba(255, 0, 0, 0.1),rgba(255, 0, 0, 0) 100%);
}
.place-time-content{
    width: 550px;
    margin: 0 auto;
    padding: 100px 385px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.place-time-content .place-text-color{
    font-size: 32px;
    color: #FF0000;
}
.place-time-wrap .place-btn{
    width: 112px;
    height: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px 32px 16px 32px;
    border-radius: 8px;
    background: rgb(255, 0, 0);
    margin-top: 20px;
}
.place-time-wrap .place-btn a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: center;
    text-transform: uppercase;
}
/*===////---Best offer style---///===*/
.best-offer{
    width: 1320px;
    margin: 120px auto;
}
.best-offer-content{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.best-offer-content .offer-info{
    width: 395px;
    margin: 105px 70px;
}
.offer-info .offer-subtitile{
    font-family: "Inter", serif;
    font-size: 24px;
    color: #FF0000;
    margin-bottom: 16px;
    font-weight: 400;
}
.offer-info .offer-title{
    font-size: 48px;
    font-family: "Merriweather", serif;
    color:#070211 ;
    margin-bottom:22px ;
}
.offer-info .offer-driscirption{
    font-size: 20px;
    line-height: 32px;
    font-family: "Merriweather", serif;
    color: #373738;
    margin-bottom: 40px;
}
.best-offer-content .offer-img{
    border: 5px solid red;
    padding: 20px;
    border-radius: 50%;
    margin-right: 120px;
}
.best-offer-content .offer-img img{
    width: 270px;
    height: 270px;
}
.offer-date{}
.offer-date .date-title{
    font-size: 48px;
    font-weight: bold;
    color: #FF0000;
    margin-bottom: 24px;
}
.offer-date .date-discription{
    width: 276px;
    font-size: 20px;
    margin-bottom: 40px;
    color: #070211;
}
/*===///---Holiday Style--///===*/
.holiday{
    width: 1320px;
    margin: 120px auto;
}
.holiday-info{
    width: 1070px;
    margin: 0 auto;
    display: flex;
    justify-self: center;
    align-items: center;
    flex-direction: column;
}
.holiday-info .holiday-subtitle{
    font-family: "Inter", serif;
    font-size: 24px;
    color: #070211;
    margin-bottom:16px;
}
.holiday-info .holiday-color{
    color: #FF0000;
}
.holiday-info .holiday-title{
    font-family: "Merriweather", serif;
    font-size: 72px;
    margin-bottom: 28px;
}
.holiday-info .holiady-discription{
    font-family: "Inter", serif;
    font-size: 20px;
    color: #070211;
    text-align: center;
    width: 860px;
}
/* .holiday-imags{
   width: 1320px; 
   margin: 0 auto;
   display: block;
} */
.holiday-imags{
    position: relative;
}
.holiday-imags .holi-imag-2 img{
    position: absolute;
    margin-top: 16%;
}
.holiday-imags .holi-imag-3 img{
    position: absolute;
    margin-top: 50%;
    z-index: -50;
}
.holiday-imags .holi-imag-1 img{
    position: absolute;
    margin-left: 75%;
    margin-top: 25%;
}